<h4>
Event Name: <%= @event.event_name %><br />
Performers: <%= @event.performers %><br />
Venue:      <%= @event.venue %><br />
Address:    <%= @event.address %><br />
Date:       <%= @event.date_time %><br />
Repeat:     <%= @event.repeat_info %><br />
Cost:       <%= @event.cost %><br />
Picture:    <%= @event.picture_url %><br />
Phone:      <%= @event.contact_phone %><br />
Email:      <%= @event.contact_email %><br />
<%= link_to "delete", @event, method: :delete %>
</h4>
